.pagination{
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    padding-top: 2em;
    padding-bottom: 3em;
}

.pagination button {
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 5px 10px;
    width: 40px;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.3);
    
  }

  
  .pagination button:hover:not(.active) {
    background-color: black;
    color: white;
  }
  
